h3 {
  width: 100%;
  color: #b4aa88;
}


/* top Quality */



.carousel-item {
  height: 32rem;
  background-color: #777;
  color: white;
  position: relative;
}
/* top navbar */
.top-header {
  background-color: #df473a;
  text-decoration: none;
  border-bottom: 5px solid #f36356;
  /* color:white; */
}

/* bottom-nav */
.top-nav ul{
  background-color: #df473a;
}
.bottom-header{
  width: 100%;
  background-color: #df473a;
}

.search  {
  margin:0;
  padding: 0;
  margin-bottom: 65px;
  
}

.bottom-main {
  background-color: #f9f6e9;
}


.bottom-main a {
  color: red;
}

.icon {
  display: inline-block;
  width: 25em;
  height: 25em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.client {
  margin: 0;
  color:#f4eedb;
  background-color:#65635d;
}

.client1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.client2 {
  font-family: 'Cedarville Cursive', cursive;
}
.client3 {

}

.client4{

}

.client5{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5 {
  color:red;
}

.mid-top {
  background-color:#f4eedb;
}



.read {
  margin: 0;
  background-color: #5b5953;
}

.button {
  color:red;
}

.icon-cups{
  background-color:;
}
.bottom-content {
  background-color:#5b5953;
  color:white;
}

.footer{
  background-color: #403e38;
  color: #f4eedb;
}

.footer-content {
  background-color: #5b5953;
}